# Build outputs
build/
out/
dist/

# deps build/install outputs
deps/webrtc-audio-processing/build/
deps/webrtc-audio-processing/install/

# Python
__pycache__/
*.pyc
.venv/
.python-version

# Editors
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
