[submodule "deps/webrtc-audio-processing"]
	path = deps/webrtc-audio-processing
	url = https://gitlab.freedesktop.org/pulseaudio/webrtc-audio-processing.git
	ignore = untracked
[submodule "deps/godot-cpp"]
	path = deps/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
